<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Все пользователи</h2>
    <h3>Изменить записи</h3>
    <ul>
        {% for i in users %}
        <li><a href="{% url 'update' i.id %}">{{ i.username }}</a></li>
        {% endfor %}
    </ul>
    <h3>Удалить записи</h3>
    <ul>
        {% for j in users %}
        <li><a href="{% url 'delete' j.id %}">{{ j.username }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for s in favorites %}
        <li>{{ s.user.username }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'signup' %}">Зарегаться</a>
</body>
</html>